{% extends 'TutorAid/base_template.html' %}

{% block content %}

    <head>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <style media="screen">
            a:link {
                text-decoration: none;
            }

            h6 {
                text-align: center;
            }

            .row {
                margin: 100px;
            }
        </style>

    </head>

    <div class="container">

        <h2>Invoice Details</h2>
        <br>
        <br>
        <div>
            <div>
                <h4>Invoice Info</h4>
            </div>
            <div>
                Student: {{ invoice.student.name }} <br>
                Year/Month: {{ invoice.year }}/{{ invoice.month }}<br>
                total: {{ invoice.charge }}<br>
            </div>

        </div>

        <br>
        <br>
        <div>
            <table class="table table-hover" id="fee-table">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Course</th>
                    <th>Duration</th>
                    <th>Fee</th>
                </tr>
                </thead>
                {% for att, fee in invoice_data %}
                    <tr>
                        <td>{{ att.created_at }}</td>
                        <td>{{ att.session.course }}</td>
                        <td>{{ att.session.duration }}</td>
                        <td>{{ fee }}</td>
                    </tr>
                {% endfor %}

            </table>
        </div>

        <br>
        <br>

        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    </div>

{% endblock content %}