{% extends 'TutorAid/base_template.html' %}

{% block content %}

    <head>

        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet"
              id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

        <style media="screen">
            a:link {
                text-decoration: none;
            }

            h6 {
                text-align: center;
            }

            .row {
                margin: 50px;
            }

            .heading {
                display: flex;
                justify-content: space-between;
            }
        </style>

    </head>

    <div class="container">
    <div class="heading">
        <h2 style="margin-left: 50px">Students</h2>
        <div class="create-button" style="margin-right: 50px; margin-top:20px;">
            <a class="btn btn-primary btn-lg" href="{% url 'TutorAid:student_create' %}"><span
                    class="glyphicon glyphicon-plus"></span>Create Student</a>
        </div>
    </div>

        <div class="row">

            <div class="panel panel-primary">
                <table class="table table-hover" id="dev-table" style="text-align:center;">
                    <tr>
                        <th style="text-align:center;">Student_id</th>
                        <th style="text-align:center;">Name</th>
                        <th style="text-align:center;">Contact</th>
                        <th style="text-align:center;">School</th>
                    </tr>
                    </thead>
                    {% for student in students %}
                        <tr>
                            <td><a href="{% url 'TutorAid:student_detail' student.id %}">{{ student.name }}</a></td>
                            <td>{{ student.name }}</td>
                            <td>{{ student.contact }}</td>
                            <td>{{ student.school }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>


        </div>
    </div>


{% endblock content %}
